body, html{
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: #f7f7f7;
}
a{
    text-decoration: none;
    color: #000;
}
.card-info{
    display:block;
    top: 5px;
    margin: 5px;
    padding: 0;
    list-style: none;
}
.card-fullname{
    font-size: 1.8em;
    margin-top: 10px;
}
.card-fullname:hover{
    color: #ffd524
}
.card-name-title{
    vertical-align: top;
    text-align: center;
    display:inline-block;
    width: 240px;
    padding-top: 10px;
}
.card-title{
    font-size: 1.1em;
    display:block;
    margin:0;
    color: #707070;
}
.card{
    font-size: .9em;
    background-color: #ffffff;
    margin: 5px;
    min-width: 350px;
    border-radius: 2px;
    flex-basis: 0;
    flex: 1 1 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    /*box-shadow: 5px 5px 20px #000*/
}
.card:focus{
height: 500px;

}

.card-header{
    height: 100px;
}
.card-img{
    margin: 5px;
    box-shadow: 2px 2px 5px #000;
}
.card-cat{
    color: #707070;
    font-size: .9em;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input {
  border: 1px solid #CCC;
  font-size: 1em;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  transition: border 0.2s ease-out;
  padding: 0 0.75em;
  display: block;
  
  -webkit-appearance: none;
}
input:hover {
  border: 1px solid #9B9B9B;
}

input:focus {
  outline: none;
  border-color: black;
}
.search-box{
    background-color: #ffffff;
    min-width: 300px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.04);
    margin: auto;
    width: 60%;
    padding: 5px;
    margin-bottom: 15px;
}
.auth-button{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    border-radius: 5px;
    background-color: #fff;
}
#signout-button{
display: none;
}
.menu-button{
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    top:0;
    vertical-align: top;
    margin: 10px;
    color: #707070;
    cursor: pointer;
}
.menu-button:hover {
    color: #ffd524
}
#menu-main{
    display: none;
}
.show-toggle{
    display: block !important;
}
.menu{
background-color: #ffffff;
box-shadow: 0 3px 9px 0 rgba(0,0,0,0.10), 0 0 0 1px rgba(0,0,0,0.04);
margin-bottom: 15px;
padding: 5px;
    color: #707070;
}